<div class="app-container">
  <!-- Dashboard View -->
  <div class="dashboard-container" *ngIf="isLoggedIn">
    <div class="toolbar">
      <div class="toolbar-left">
        <h2>გარემოს მონიტორინგი</h2>
      </div>
      <div class="toolbar-right">
        <button class="btn btn-primary" (click)="showAddDeviceDialog()">
          <i class="fas fa-plus"></i>მოწყობილობის დამატება
        </button>
        <button class="btn btn-danger" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> გასვლა
        </button>
      </div>
    </div>

    <div class="devices-grid">
      <div class="device-card" *ngFor="let device of devices;let i = index">
        <div class="card-header">
          <h3> {{ device.title}}</h3>
        </div>
        <div class="card-body">
          <div class="instruction">
            <div class="flex">
            <div class="rectangle1"></div>
            <span>უსაფრთხო ზღვარი</span>
            </div>
            <div class="flex">
              <div class="rectangle2"></div>
              <span>ამჟამინდელი პარამეტრი</span>
            </div>



          </div>
          <div class="chart-container">
            <div class="flex1">
              <canvas [id]="'tempPieChart' + i"></canvas>
              <span>ტემპერატურა:<br> {{device.latestTemp}}°C</span>
            </div>
            <div class="flex1">
              <canvas [id]="'co2PieChart' + i"></canvas>
              <span>ჰაერის ხარისხი:<br> {{device.latestCo2}}</span>
            </div>
            <div class="flex1">
              <canvas [id]="'humidityPieChart' + i"></canvas>
              <span>ტენიანობა:<br> {{device.humidity}}%</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-secondary" (click)="getDevice()" >
            <i class="fas fa-refresh"></i> პარამეტრების განახლება
          </button>
        </div>
        <div class="refresh_date"> 
          <span>განახლების დრო: {{device.time}}</span>
        </div>
      </div>
    </div>

    <!-- Add Device Dialog -->
    <div class="dialog-overlay" *ngIf="displayAddDeviceDialog">
      <div class="dialog">
        <div class="dialog-header">
          <h3>მოწყობილობის დამატება</h3>
          <button class="fas fa-close fa-2x" (click)="displayAddDeviceDialog = false"></button>
        </div>
        <div class="dialog-body">
          <div class="dialog-form">
            <label for="deviceId">მოწყობილობის დასახელება</label>
            <input 
              id="deviceTitle" 
              type="text" 
              class="dialog-input" 
              [(ngModel)]="newDeviceTitle" 
            >

            <label for="deviceId">მოწყობილობის ID</label>
            <input 
              id="deviceId" 
              type="text" 
              class="dialog-input" 
              [(ngModel)]="newDeviceCode" 
            >
          </div>
        </div>
        <div class="dialog-footer">
          <button class="btn btn-text" (click)="displayAddDeviceDialog = false">
            დახურვა
          </button>
          <button 
            class="btn btn-primary" 
            (click)="addDevice()" 
            [disabled]="!newDeviceCode || loading"
          >
            დამატება
          </button>
        </div>
      </div>
    </div>
  </div>
</div>